name: Build and Test Suite

on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    branches: [ "develop", "main" ]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  packages: none

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - aarch64
          - x86_64
    env:
      TARGET: ${{ matrix.arch }}-unknown-linux-musl
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        override: true
        target: ${{ env.TARGET }}
        toolchain: stable
        components: clippy
    - uses: actions/cache@v3
      with:
        key: ${{ env.TARGET }}-cargo-${{ hashFiles('**/Cargo.lock') }}-ci
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
    - uses: actions-rs/cargo@v1
      with:
        use-cross: true
        command: test
        args: --target ${{ env.TARGET }}
        toolchain: stable
    - uses: actions-rs/cargo@v1
      with:
        use-cross: true
        command: clippy
        args: --target ${{ env.TARGET }}
        toolchain: stable
